<div class='container'>
    <div class="row">
        <div class='thumbnail'>
            <div id='<%= articles._id %>' class='points'><%= articles.points %></div>
            <h1 class='text-center'><%= articles.title %></h1>
            <img src='<%= articles.img %>'>
            <p class='description'><%= articles.description %></p>
        </div>
        <% if(user){ %>
        <div class='container'>
            <div class='btn-group btn-group-justified' role="group">
                <div class='btn-group'>
                    <input type='button' class="btn btn-success" name='<%= articles._id %>' value='UpVote'>
                </div>
                <div class='btn-group'>
                    <input type='button' class="btn btn-danger" name='<%= articles._id %>' value='DownVote'>
                </div>
            </div>
        </div>
        <div class='container'>
            <textarea id='textarea' name='comments' rows="4" cols="40" placeholder='Leave your comment here'></textarea>
            <button id='<%= articles._id %>' name='<%= id %>' class="btn btn-lg btn-primary btn-block" type="submit">Send Comment</button>
        </div>
        <% } %>
        <div class='container'>
            <ul id='lista' class='list-group'>
            <% for(var i = 0; i < articles.comments.length; i++){ %>
                <li class='list-group-item'><%= articles.comments[i].comment %></li>
            <% } %>
            </ul>
        </div>
    </div>
</div>