<% for(var i = (articles.length - 1); i >= 0; i--){ %>
    <div class='container'>
        <div class="row">
            <div class='thumbnail'>
                <div class='points'>
                    <% if(articles[i].points==null){ %>
                    0
                    <% } %>
                    <%= articles[i].points %>
                </div>
                <h1 class='text-center'><%= articles[i].title %></h1>
                <a href='../article/<%= articles[i]._id%>'>
                    <img src='<%= articles[i].img %>'>
                </a>
                <% if(user){ %>
                <div class='btn-group btn-group-justified' role="group">
                    <form class="btn-group" action='/upVote/<%= articles[i]._id %>' method='post'>
                        <button class="btn btn-success" type='submit' role="button">UpVote</button>
                    </form>
                    <form class="btn-group" action='/downVote/<%= articles[i]._id %>' method='post'>
                        <button class="btn btn-danger" type='submit' role="button">DownVote</button>
                    </form>
                </div>
                <% } %>
            </div>
        </div>
    </div>
<% } %>