<% for(var i = (articles.length - 1); i >= 0; i--){ %>
    <div class='container'>
        <div class="row">
            <div class='thumbnail'>
                <div id='<%= articles[i]._id %>' class='points'>
                    <% if(articles[i].points==null){ %>
                    0
                    <% } %>
                    <%= articles[i].points %>
                </div>
                <h1 class='text-center'><%= articles[i].title %></h1>
                <a href='../article/<%= articles[i]._id%>' class='thumbnail'>
                    <img src='<%= articles[i].img %>'>
                </a>
                <% if(user){ %>
                <div class='btn-group btn-group-justified' role="group">
                    <div class='btn-group'>
                        <input type='button' class="btn btn-success" name='<%= articles[i]._id %>' value='UpVote'>
                    </div>
                    <div class='btn-group'>
                        <input type='button' class="btn btn-danger" name='<%= articles[i]._id %>' value='DownVote'>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
<% } %>